---
import Container from "@/components/ui/Container.astro";
import Layout from "@/layouts/Layout.astro";
import EventClosed from "@/components/EventClosed.astro";
---

<Layout title="Inscripciones | CINCIT 2025">
  <Container>
    <div
      class="grid grid-cols-1 lg:grid-cols-1 gap-3 lg:gap-6 min-h-[70vh] items-center"
    >
      <EventClosed />
    </div>
  </Container>
</Layout>
