<section
  class="img-background relative flex items-center justify-center min-h-[60vh] bg-cover bg-center px-4 sm:px-6 lg:px-8"
>
  <div class="relative z-10 max-w-7xl mx-auto">
    <div class="text-center animate-fade-in-up">
      <h1 class="text-4xl md:text-6xl font-bold mb-8 text-white/90">
        ¿Qué es el congreso CINCIT?
      </h1>
      <p
        class="text-lg md:text-xl text-white/90 max-w-3xl mx-auto leading-relaxed drop-shadow-lg"
      >
        El congreso CINCIT es un evento académico anual que reúne
        investigadores, profesionales y estudiantes para compartir conocimientos
        y experiencias en el ámbito de la informática y sus diversas
        aplicaciones. Durante el evento se llevan a cabo conferencias y
        presentaciones sobre temas vinculados a sus trabajos, proyectos o áreas
        de especialidad.
      </p>
    </div>
  </div>
</section>

<style scoped>
  /* .img-background {
    background-image: linear-gradient(
        rgba(10, 10, 20, 0.7),
        rgba(10, 10, 20, 0.7)
      ),
      url("/auditorio2.webp");
  } */

  .img-background {
    background-image: url("/auditorio.webp");
  }

  /* style="background-image: linear-gradient(rgba(10, 10, 20, 0.7), rgba(10, 10, 20, 0.7)), url('/auditorio.webp')" */
</style>
