---
import SocialIcons from "@/components/SocialIcons.astro";
import Container from "@/components/ui/Container.astro";
import { Mail, MapPin, Phone } from "@lucide/astro";

const CONTACT_INFO = [
  { icon: Mail, text: "cincit@unajma.edu.pe", type: "email" },
  { icon: Phone, text: "+51 -- -- --", type: "phone" },
  { icon: MapPin, text: "Andahuaylas, Apurimac, Perú", type: "location" },
];

const PARTNER_LOGOS = [
  { src: "/logoepis.webp", alt: "Logo EPIS", name: "EPIS" },
  // { src: "/logounajma.webp", alt: "Logo UNAJMA", name: "UNAJMA" },
];
---

<Container>
  <footer class="border-t border-border/20 border-white/40 mb-20">
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8 py-4">
        <div class="space-y-4">
          <h3 class="text-2xl md:text-3xl font-bold text-gradient mb-6">
            CINCIT
          </h3>
          <div class="space-y-3">
            {
              CONTACT_INFO.map((contact) => (
                <div class="flex text-white/70 items-center gap-3 text-sm">
                  <contact.icon class="h-4 w-4 text-primary flex-shrink-0" />
                  <span class="break-all ">{contact.text}</span>
                </div>
              ))
            }
          </div>
        </div>

        <div class="flex flex-wrap justify-end items-center gap-6">
          {
            PARTNER_LOGOS.map((logo) => (
              <div class="flex-shrink-0 hover:scale-105 transition-transform duration-300  max-w-24 lg:max-w-32 h-auto">
                <img src={logo.src} alt={logo.alt} />
              </div>
            ))
          }
        </div>
      </div>

      <div
        class="border-t border-border/20 border-white/40 flex flex-wrap justify-between items-center gap-3"
      >
        <SocialIcons />

        <div class="text-white/70">
          <!-- <a
            href="https://gothangelsinner.vercel.app"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-gray-900 hover:bg-gray-800 border border-transparent rounded-lg p-1 text-sm font-medium hover:border hover:border-white/70"
          >
            {"</>"}
          </a> -->
        </div>
      </div>
    </div>
  </footer>
</Container>
