<div class="flex justify-center lg:justify-end animate-fade-in-up">
  <div class="relative">
    <div
      class="absolute inset-0 bg-gradient-primary opacity-20 blur-3xl rounded-full animate-glow"
    >
    </div>
    <div
      class="absolute top-10 left-10 w-32 h-32 bg-gradient-secondary opacity-10 blur-2xl rounded-full animate-float"
    >
    </div>

    <img
      src="/robot.webp"
      alt="CINCIT Robot Mascot"
      class="relative z-10 w-80 h-80 md:w-96 md:h-96 xl:w-[500px] xl:h-[500px] object-contain animate-float drop-shadow-2xl"
    />

    <div
      class="absolute -top-4 -right-4 w-8 h-8 bg-gradient-primary rounded-full opacity-60 animate-glow"
    >
    </div>
    <div
      class="absolute bottom-64 -left-16 w-6 h-6 bg-gradient-secondary rounded-full opacity-40 animate-float"
      style={{ animationDelay: "2s" }}
    >
    </div>
    <div
      class="absolute bottom-10 -left-6 w-6 h-6 bg-gradient-secondary rounded-full opacity-40 animate-float"
      style={{ animationDelay: "2s" }}
    >
    </div>
    <div
      class="absolute top-1/2 -right-8 w-4 h-4 rounded-full opacity-50 animate-glow"
      style={{ animationDelay: "1s" }}
    >
    </div>
  </div>
</div>
